<div class="jumbotron mt-5 bgs">
    <div class="container ">
        <div class="row">
            <div class="col-12">
           <h1 class="text-center text-danger">Add Patient</h1>
           <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                <label id="pd">Patient ID</label>
                <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
                <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                <p *ngIf=" f.id.errors.required">ID is Compulsory</p>
                </div>
                </div>
                <div class="form-group">
                <label id="pd">Patient Name</label>
                <input type="text" formControlName="patientname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.patientname.errors }"/>
                <section *ngIf="registerForm.controls.patientname.invalid" style="color:red">
                <p *ngIf="submitted &&registerForm.controls.patientname.errors.required">Name is Compulsory</p>
                <!-- <p *ngIf="submitted &&registerForm.controls.patientname.errors.minlength">Enter atleast 4 characters</p> -->
                </section>
                </div>
                <div class="form-group">
                <label id="pd">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <section *ngIf="registerForm.controls.email.invalid" style="color:red">
                <p *ngIf="submitted &&registerForm.controls.email.errors.required">Email is Compulsory</p>
                </section>
                </div>
                 <div class="form-group">
                <label id="pd">City</label>
                <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                <section *ngIf="registerForm.controls.city.invalid" style="color:red">
                <p *ngIf="submitted &&registerForm.controls.city.errors.required">City is Compulsory</p>
                </section>
                </div> 
                <div class="form-group">
                <label id="pd">Mobile N.O</label>
                <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                <section *ngIf="registerForm.controls.mobile.invalid" style="color:red">
                <p *ngIf="submitted &&registerForm.controls.mobile.errors.required">Mobile is Compulsory</p>
                </section>
                </div>
                <div class="form-group" >
                <label id="pd">Gender:</label>
                <input type="radio" formControlName="gender" name="gender" value="Male" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">Male
                <input type="radio" formControlName="gender" name="gender" value="Female" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">Female
                <section *ngIf="registerForm.controls.gender.invalid" style="color:red">
                <p *ngIf="submitted &&registerForm.controls.gender.errors.required">Gender is Compulsory</p>
                </section>
                </div>
                <div class="form-group" >
                        <label id="pd">BloodGroup:</label>
                        <input type="text" formControlName="bgroup" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.bgroup.errors }">
                        <section *ngIf="registerForm.controls.bgroup.invalid" style="color:red">
                        <p *ngIf="submitted &&registerForm.controls.bgroup.errors.required">BloodGroup is Compulsory</p>
                        </section>
                        </div>
                <div class="form-group" >
                <label id="pd">Disease:</label>
                <textarea rows="4" cols="50" formControlName="Disease" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Disease.errors }">
                </textarea>
                <section *ngIf="registerForm.controls.Disease.invalid" style="color:red">
                <p *ngIf="submitted &&registerForm.controls.Disease.errors.required">Enter Disease</p>
                </section>
                </div>
                <div class="form-group">
                <button class="btn btn-primary">Register</button>
                </div>
                </form>
        </div>
    </div>
    </div>
    </div>
    
