
<body>
	<div id="login">
    <h3 class="text-center text-white pt-5">Clerk Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form [formGroup]="loginForm1" (ngsubmit)="submit1()">

                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label>Username:</label><br>
                            <input type="text" name="username" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': loginForm1.get('username').dirty&&loginForm1.get('username').invalid }">
                            <div *ngIf="loginForm1.get('username').dirty&&loginForm1.get('username').invalid" class="invalid-feedback">username is required
                                </div>
                        </div>
                        <div class="form-group">
                            <label>Password:</label><br>
                            <input type="text" name="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid':loginForm1.get('password').dirty && loginForm1.get('password').invalid}">
                            <div *ngIf="loginForm1.get('password').dirty&&loginForm1.get('password').invalid" class="invalid-feedback">Password is required
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <input type="submit" name="submit" (click)="submit1()" class="btn btn-info btn-md" value="Login">
                        </div>
                        <div class="form-group">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>