.navid{
  background-color:black;
}
.div1{
  background-color: rgb(98, 14, 11);
}
#nc{
  color: white;
}
#ft{
  text-decoration: none;
  color: deepskyblue;
}
#fy{
  text-decoration: none; 
  color: brown ; 
}
#book{
  color: white;
}

