<div id="demo" class="carousel slide mt-3" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/c1.jpg" alt="Los Angeles" width="1600" height="500">
      <div class="carousel-caption">
          <div class="row">
              <div class="col-6 mt-5">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
              </div>
          </div>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/c4.jpg" alt="Chicago" width="1600" height="500">
      <div class="carousel-caption"> 
        <div class="row">
            <div class="col-6">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
            </div>
        </div>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/c5.jpg" alt="New York" width="1600" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container text-center" id="bgc">
    <div class="row mt-3">
        <div class="col-6 text-white">
              <i class="fa fa-user-md fa-5x mt-5 faicon"></i>
              <h1 class="mt-3">For Patients</h1>
              <a routerLink=""><button class="btn btn-info mt-4">Check Your Report  <i class="fa fa-angle-right"></i></button>
              </a>
              <p class="blod mt-3">Feature Report</p>
              <a href="" id="aref"  class="mt-4 p-3">View Report</a>
              <a href="" id="aref"  class="mt-4 p-3">PayOnline</a>
              <a href="" id="aref"  class="mt-4 p-3">Health Package</a>
           
        </div>
        <div class="col-6 text-white">
              <i class="fa fa-user-md fa-5x mt-5 faicon"></i>
              <h1 class="mt-3">International Patients</h1>
              <a routerLink=""><button class="btn btn-info mt-4">Check Your Report  <i class="fa fa-angle-right"></i></button>
              </a>
              <p class="blod mt-3">Feature Report</p>
              <a href="" id="aref"  class="mt-4 p-3">View Report</a>
              <a href="" id="aref"  class="mt-4 p-3">PayOnline</a>
              <a href="" id="aref"  class="mt-4 p-3">Health Package</a>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">

              <h1 class="text-danger text-center mt-3">SPECIALITIES WE TREAT</h1>
        </div>
        <div class="col-3">
            <img class="img-fluid" src="assets/sr1.jpg" width="220px" height="200px">
            <a href="#" id="link">Surgical Services</a>
        </div>
        <div class="col-3">
              <img class="img-fluid" src="assets/dai1.jpg" width="220px" height="500px">
              <a href="#" id="link">Daibeties</a>
          </div>
          <div class="col-3">
                  <img class="img-fluid" src="assets/can2.webp" width="350px">
                 <a href="#" id="link">General Surgery</a>
              </div>
              <div class="col-3">
                      <img class="img-fluid" src="assets/hl.jpg" width="180px">
                      <a href="#" id="link">CancerCare</a>
                  </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
        <img class="img-fluid" src="assets/mbapp.jpg">
        </div>
        <div class="col-6 mt-5">
            <h1 class="text-danger">GET XYZ health APP</h1>
            <h2 class="text-danger">XYZ health app is now available on both Google and IOS.</h2>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="assets/ard.png"  width="270px">
                </div>
                <div class="col-6">
                      <img class="img-fluid" src="assets/ard1.png" width="270px">
                </div>
            </div>
            <div class="row mt-5">
                  <div class="col-6">
                      <input type="text" class="form-control" placeholder="Enter Mobile Number">
                  </div>
                  <div class="col-6">
                       <button class="btn btn-info">Send App Link</button>
                  </div>
              </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="bg3">
      <footer class="container ">
    <div class="row foot">
  
      <div id="foot1" class="col-md-3 col-sm-3">
  
        <h3>Useful Links</h3>
       <h5 id="firstchild">
        <span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Contact Us</b></a></h5>
       <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>About Us</b></a></h5>
       <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Terms & Conditions</b></a></h5>
       <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Private Policy</b></a></h5>
      </div>
  
       <div id="foot2" class="col-md-3 col-sm-3">
        <h3>Customer Services</h3>
  
  <h5 id="firstchild"><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Customer Support</b></a></h5>
  <h5> <span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Cancel Booking</b></a></h5>
  <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"> <b>Cancelltion policy</b></a></h5>
  <h5><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"><b> Register</b></a></h5>
  <h5 style="border-bottom:0px;"><span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="text-muted"><b> Conatct Us</b></a></h5>
       </div>
  
     
</div>
  </footer>
  </div>
  
  <section class="container-fluid" id="foot5">
    <h4 class="text-center text-muted">Copyrights © 2018 alphacars.com</h4>
  </section>
